@import url('./styles.config.css');

#container {
    min-height: 100vh;
}

#support-container {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
}

#support-img {
    width: 30%;
}

#support-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    font-size: 50px;
    line-height: 1.3;
}

#support-container div {
    margin: 0 auto;
}

#afiliate-btn {
    cursor: pointer;
    display: block;
    margin-top: .7em;
    padding: .1em 1em;
    border-radius: 10px;
    background-color: var(--discord-blue);
}

#afiliate-btn:hover {
    background-color: var(--bootstrap-skyblue);
}

#afiliate-btn:active {
    background-color: var(--bootstrap-bg-info);

}