@import url('./styles.config.css');

body {
    color: var(--bootstrap-bg-light);
    background-color: var(--firebase-navy-blue);
}

#invite {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#invite button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: transparent;
    color: inherit;
    margin-top: 2em;
    outline: none;
    border: 1px solid var(--default-shadow-gray);
}

#link-invite a {
    color: var(--bootstrap-bg-light);
}

.img-center {
    width: 200px;
}

#heart {
    font-size: 60px;
    flex-direction: column;
    align-items: center;
}

#heart span {
    margin-top: .3em;
}

#content-donate {
    justify-content: center;
    margin-top: 2em;
}